body {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(255,255,255);
}

.navbar.navbar-light.navbar-expand-md.bg-dark {
  background-color: #ff7235 !important;
  border-radius: 0px 0px 7px 7px;
}

.nav-logo {
  font-size: 30px;
  color: black;
}

.main-page {
  margin-bottom: 20px;
  border-radius: 10px;
}

head {
  <link href="https: //fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">;
}

.icons-social {
  color: black;
}

.footer-social-btn {
  background-color: #b8d8e0;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #b8d8e0;
  -webkit-box-shadow: 3px 3px 5px 6px #b8d8e0;
  box-shadow: 3px 3px 5px 6px #b8d8e0;
}

.search-field {
  width: 100vw;
  position: relative;
}

input {
  padding: 15px;
  background-color: #b8d8e0;
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.fa-search {
  position: absolute;
  top: 15px;
  left: 90%;
  transform: inherit;
}

.card {
  margin-bottom: 20px;
  background-color: #fcf5ef;
  border-radius: 7px;
}

.community-item {
  padding: 26px;
  margin-bottom: 0px;
  background-color: #fcf5ef;
}

.community_info p {
  margin-bottom: 0px;
}

.first-div-after-nav {
  display: inline-flex;
  width: 100%;
}