body {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: auto;
  background-color: rgb(255,255,255);
}

.navbar.navbar-light.navbar-expand-md.bg-dark {
  background-color: #ff7235 !important;
  border-radius: 0px 0px 7px 7px;
}

.nav-logo {
  font-size: 30px;
  color: black;
}

.event-item {
  margin: 0px;
  background-color: #fcf5ef;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.event-item div{
  padding: 0px;
}

.event-item h2{
  margin-top: 30px;
}

.main-page {
  margin-bottom: 20px;
  border-radius: 10px;
}

.icons-social {
  color: black;
}

.footer-social-btn {
  background-color: #b8d8e0;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #b8d8e0;
  -webkit-box-shadow: 3px 3px 5px 6px #b8d8e0;
  box-shadow: 3px 3px 5px 6px #b8d8e0;
}

img {
  max-width: 314px;
  max-height: 270px;
  background-position: center;
  background-size: cover;
}
