body {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: auto;
  background-color: rgb(255,255,255);
}

body nav {
  border-radius: 0px 0px 7px 7px;
}

.navbar.navbar-light.navbar-expand-md.bg-dark {
  background-color: #ff7235 !important;
}

.nav.navbar-nav.flex-grow-1.justify-content-end {
}

.nav-logo {
  font-size: 30px;
  color: black;
}

.main-page {
  margin-bottom: 20px;
  border-radius: 10px;
}

head {
  <link href="https: //fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">;
}

.icons-social {
  color: black;
}

.footer-social-btn {
  background-color: #b8d8e0;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #b8d8e0;
  -webkit-box-shadow: 3px 3px 5px 6px #b8d8e0;
  box-shadow: 3px 3px 5px 6px #b8d8e0;
}

.vol-details {
  margin: 0;
  background-color: #fcf5ef;
}

.extra {
  margin: 0;background-color: #fcf5ef;margin-bottom: 20px;border-radius: 0px, 0px, 10px, 10px;
}

img {
  width: 110px;
  height: 110px;
  margin-left: 21vw;
  margin-right: 3vw;
  background-position: center;
  background-size: cover;
}

h4 {
  margin-left: 5vw;
  margin-right: 2vw;
  margin-top: 3.5vw;
}

div p {
  margin-top: 10px;
}