.footer-dark {
  padding: 50px 0;
  padding-bottom: 80px;
  background-color: #6db5ca;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 30px;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.card-body.main-page.shadow.volunteer-main-page {
  height: 125px;
  background-color: #b8d8e0 !important;
  margin-bottom: 30px;
  color: #ff7235;
}

.btn.btn-primary.btn-block.contact-volunteer_btn {
  color: black;
  background-color: #ff7235;
}

.volunteer_details {
  margin-left: 10px;
}

.volunteer_info {
  padding: 26px;
  /*margin-left: 46px;*/
}

.d-lg-flex.justify-content-lg-start.align-items-lg-center.volunteer-details-label {
  color: #6db5ca;
}

.social {
  background-color: #6db5ca;
}