body {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: auto;
  background-color: rgb(255,255,255);
}

.navbar.navbar-light.navbar-expand-md.bg-dark {
  background-color: #ff7235 !important;
}


.nav-logo {
  font-size: 30px;
  color: black;
}

.main-page {
  margin-bottom: 20px;
  border-radius: 10px;
}


.icons-social {
  color: black;
}

.footer-social-btn {
  background-color: #b8d8e0;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #b8d8e0;
  -webkit-box-shadow: 3px 3px 5px 6px #b8d8e0;
  box-shadow: 3px 3px 5px 6px #b8d8e0;
}

img {
  width: 55%;
  height: 30vw;
  margin-bottom: 10px;
}

.details {
  margin: 0px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.details p {
  margin: 0px;
} 

.btn-reg {
  color: black;
  background-color: #6db5ca;
  border: none;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 18px;
}

