body {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: auto;
  background-color: rgb(255,255,255);
}

.navbar.navbar-light.navbar-expand-md.bg-dark {
  background-color: #ff7235 !important;
  border-radius: 0px 0px 7px 7px;
}

.nav-logo {
  font-size: 30px;
  color: black;
}


.main-page {
  margin-bottom: 20px;
  border-radius: 10px;
}

.icons-social {
  color: black;
}

.footer-social-btn {
  background-color: #b8d8e0;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #b8d8e0;
  -webkit-box-shadow: 3px 3px 5px 6px #b8d8e0;
  box-shadow: 3px 3px 5px 6px #b8d8e0;
}

.form-row {
  margin: 0px;
  background-color: #fcf5ef;
  padding: 14px;
}

.form-row col {
  padding: 0px;
}

.form-row h2 {
  margin-top: 30px;
}

img {
  width: 66%;
  height: 250px;
  background-position: center;background-size: cover;
}
.btn-reg {
  color: black;
  background-color: #6db5ca;
  border: none;
  margin-bottom: 15px;
  padding: 14px;
  margin-top: 33px;
  width: 20vw;

}
