body {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(255,255,255);
}

body nav {
  border-radius: 0px 0px 7px 7px;
}

.navbar.navbar-light.navbar-expand-md.bg-dark {
  background-color: #ff7235 !important;
}

.fa.fa-map-marker.nav-logo {
}

.fa.fa-map-marker.nav-logo {
}

.icon.ion-gear-b.nav-logo {
}

.nav.navbar-nav.flex-grow-1.justify-content-end {
}

.nav-logo {
  font-size: 30px;
  color: black;
}

.row {
  /*margin: 7px;*/
  /*background-color: #fcf5ef !important;*/
}

.main-page {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fcf5ef;
}

/* head {
  <link href="https: //fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">;
} */

.icons-social {
  color: black;
}

.footer-social-btn {
  background-color: #b8d8e0;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #b8d8e0;
  -webkit-box-shadow: 3px 3px 5px 6px #b8d8e0;
  box-shadow: 3px 3px 5px 6px #b8d8e0;
}

.main-page-link-button{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: transparent;
  outline: none !important;
}
