body{
    background-color: #FCF5EF;
}

.about-header{
    margin-left: 5vw;
    margin-top: 5vh;
    background-color: transparent;
}

.about-p{
    margin-left: 5vw;
    
}

.contributors{
    margin-left: 2.5vw;
    list-style: none;
}