body{
    background-color: #FCF5EF;
}

.pass-form-container{
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.bus-header{
    font-size: 6vh;
}

#bus-pass-form{
    width: 100%;
}

.btn-bus{
    margin-top: 3vh;
    background-color: #FF7235;
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 40%;
    margin-bottom: 2vh;
}

.bus-form-label{
    margin-left: 1vw;
}

.form-control{
    width: 100%l
}