ul{
    list-style: none;
}

body{
    background-color: #B8D8E0;
}

.medication-header{
    font-size: 5vh;
    color: white;
    margin-bottom: 3vh;
}

.med-name{
    margin-left: 1vw;
    float: left;
    margin-top: 3vh;
    width: 70%;
}

.med-logo{
    margin-top: 5vh;
    position: absolute;
}

.med-details{
    float: left;
    margin-left: 1vw;
    margin-top: 1vh;
    width: 60%;
}

.med-close{
    outline: none !important;
    margin-right: 1vw;
}

.medicines-container{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.med-container{
    background-color: white;
    width: 100%;
    height: 18vh;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 1vh;
}

.med-add{
    font-size: 12vh;
    color: white;
    background-color: transparent;
    border: transparent;
    outline: none !important;
}

#message-text{
    color: gray;
    background-color: #FCF5EF;
    height: 4vh;
    width: 15.5vw;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
}