body{
  background-color: #FCF5EF;
}

.page-container{
  background-color: #FCF5EF;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.page-header{
    font-size: 4vh;
    margin-top: 5vh;
}

.list-group-item-image{
    align-items: center;
    list-style: none;
    margin-left:20%;
}

input:checked + .slider {
  background-color: #6DB5CA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6DB5CA;
}

#message-text{
  color: gray;
  background-color: #FCF5EF;
  height: 4vh;
  width: 15.5vw;
  border-radius: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 1vh;
}

.switch{
  float: right;
  width:15vw;
  height: 5.5vh;
}

.custom-slider{
  max-width: 60px;
  max-height: 35px;
}

.custom-switch{
  float: right;
  max-width: 60px;
  max-height: 35px;
}

.input-info{
  font-size: 3vh;
}