body{
    background-color: #FCF5EF;
}

.settings-header{
    margin-top: 5vh;
}

.settings-page-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.list-group-item{
    background-color: transparent;
    max-width: 400px;
}

.btn-set{
    color: white;
    background-color: #FF7235;
    max-width: 400px;
}