body {
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(255,255,255);
}

.card {
  background-color: #fcf5ef;
  border-radius: 7px;
  margin-bottom: 20px;
}

.navbar.navbar-light.navbar-expand-md.bg-dark {
  background-color: #ff7235 !important;
  border-radius: 0px 0px 7px 7px;
}

.nav-logo {
  font-size: 30px;
  color: black;
}

.row {
  /*margin: 7px;*/
  /*background-color: #fcf5ef !important;*/
}

.main-page {
  margin-bottom: 20px;
  border-radius: 10px;
}

head {
  <link href="https: //fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">;
}

.icons-social {
  color: black;
}

.footer-social-btn {
  background-color: #b8d8e0;
}

.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #b8d8e0;
  -webkit-box-shadow: 3px 3px 5px 6px #b8d8e0;
  box-shadow: 3px 3px 5px 6px #b8d8e0;
}

.comm_detail_item {
  padding: 26px;
  margin-bottom: 0px;
  background-color: #fcf5ef;
}

.comm_detail_item p {
  margin-bottom: 0px;
}

img {
  background-position: center;
  max-width:100%;
  max-width: height 650px;px;
  width:auto;
  height:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}