.list-group-item:first-child {
  background-color: #b8d8e0;
  color: #fcf5ef;
  margin: 20px 0px 0px 0px;
}

.list-group-item.text-center {
  background-color: #b8d8e0;
}

.list-group-item.text-center {
  background-color: #b8d8e0;
}

.list-group-item.text-center {
  background-color: #b8d8e0;
}

.list-group-item:last-child {
  background-color: #b8d8e0;
  margin: 0px 0px 30px 0px;
}

.text-center {
  background-color: #ff7234;
  color: #fcf5ef;
}

