.text-center.headerec {
  background-color: #ff7234;
  color: #fcf5ef;
}

.text-center.p1 {
  margin: 25px 25px 20% 25px;
  color: #ff7235;
  font-size: 21px;
}

.text-left.p2 {
  margin: 5px;
  color: #ff7235;
  font-size: 15px;
}

.chat {
  width: 100%;
  height: 200px;
  margin: 5px 0px 0px 0px;
  padding-bottom: 0px;
}

.btn.btn-primary.text-center.b1 {
  height: 5%;
  margin: 0px 0px 30px 0%;
  background-color: #6db5ca;
  width: 20%;
  padding: 0px;
}

