.text-center.h1 {
  background-color: #ff7234;
  color: #fcf5ef;
}

.text-center.p1 {
  margin: 25px;
  color: #ff7235;
  font-size: 21px;
}

.form-check.text-center.r1 {
  margin: 15% 0% 0% 0%;
  color: #ff7235;
  width: 100%;
}

.form-check.text-center {
  margin: 0% 0% 0% 0%;
  color: #ff7235;
  width: 100%;
}


.btn.btn-primary.ask_now {
  width: 100%;
  margin: 15% 0px 20px -1px;
  background-color: #ff7235;
  color: #fcf5ef;
}

