.text-center.h1 {
  background-color: #ff7235;
  color: #fcf5ef;
}

.doctors {
  width: 100%;
  margin: 10% 0% 0% 0%;
}

.list_element {
  width: 90%;
  background-color: #6db5ca;
  color: #fcf5ef;
  font-size: 20ppx;
  margin: 0% 0% 1% 0%;
}

.list_element {
  width: 90%;
  background-color: #6db5ca;
  color: #fcf5ef;
  font-size: 20ppx;
  margin: 0% 0% 1% 0%;
}

.list_element {
  width: 90%;
  background-color: #6db5ca;
  color: #fcf5ef;
  font-size: 20ppx;
  margin: 0% 0% 1% 0%;
}

.list_element {
  width: 90%;
  background-color: #6db5ca;
  color: #fcf5ef;
  font-size: 20ppx;
  margin: 0px 0px 30px 0px;
}

.btn.btn-primary.text-center.align-items-end.align-content-end {
  width: 10%;
  height: 25px;
  padding: 0;
  margin: 0% 0% 2% 90%;
  background-color: #ff7235;
  font-size: 15px;
}

.text-left.align-items-baseline {
  color: #fcf5ef;
  font-size: 14px;
  width: 100%;
  margin: 5px;
  height: 5px;
  padding: 0;
}

.btn.btn-primary.text-center {
  width: 10%;
  height: 25px;
  padding: 0;
  margin: 0%0% 2% 90%;
  background-color: #ff7235;
  font-size: 15px;
}

.text-left {
  color: #fcf5ef;
  font-size: 14px;
  width: 100%;
  margin: 5px;
}

.btn.btn-primary.text-center {
  width: 10%;
  height: 25px;
  padding: 0;
  margin: 0%0% 2% 90%;
  background-color: #ff7235;
  font-size: 15px;
}

.text-left {
  color: #fcf5ef;
  font-size: 14px;
  width: 100%;
  margin: 5px;
}

.btn.btn-primary.text-center {
  width: 10%;
  height: 25px;
  padding: 0;
  margin: 0%0% 2% 90%;
  background-color: #ff7235;
  font-size: 15px;
}

.text-left {
  color: #fcf5ef;
  font-size: 14px;
  width: 100%;
  margin: 5px;
}

.dropdown-item {
  background-color: #b8d8e0;
}

