.text-center.h1 {
  font-size: 30px;
  width: 100%;
  margin: 0px 0px 10px 0px;
  color: #ffffff;
  background-color: #ff7235;
}

.dropdown, .dropleft, .dropright, .dropup {
  color: #6db5ca;
  width: 90%;
  margin: 10% 5% 0% 5%;
}




.btn.btn-primary.b1 {
  width: 20%;
  margin: 20% 5% 10% 75%;
  background-color: #6db5ca;
  color: #fcf5ef;
}

.btn.btn-primary.dropdown-toggle {
  background-color: #6db5ca;
  color: #fcf5ef;
  width: 100%;
  margin: 0;
}

.dropdown-menu {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  background-color: #b8d8e0;
}

